.bg-body-tertiary {
  background-color: white !important;
}

nav img {
  border-radius: 50%;
}

.nav-icon {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: gray;
}

.purple-dot {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 11px;
  background-color: #754ef6;
  top: 1px;
  right: 5px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.green-dot {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 11px;
  background-color: #5ac896;
  bottom: 0px;
  right: 3px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.jumbotron {
  background-color: #754ef6;
}

.jumbotron .row p {
  color: lightgray;
}

.jumbotron img {
  object-fit: cover;
}

.button-style {
  font-size: 14px;
  border: none;
  padding-block: 12px;
}

.btn.btn-primary {
  background-color: #5ac896;
  border: none;
}

.btn.btn-warning {
  background-color: rgb(255, 255, 255, 1);
}

.under-jumbo {
  border-bottom-color: #F5F4F8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.under-jumbo-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fdedda;
  color: #947755;
  font-size: 20px;
}

.under-jumbo p {
  color: gray;
}

main{
    background-color: #F5F4F8;
}

.card-user{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
}

.card-user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card-user {
    color: lightgray;
}

.old-cost{
    text-decoration: line-through;
    color: lightgray;
}
